# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/test_plugin/v15/.suo
src/.vs/test_plugin/v15/Browse.VC.db
src/.vs/test_plugin/v15/ipch/AutoPCH/3bf1351e8ee77982/PLUGIN.ipch
src/.vs/test_plugin/v15/ipch/AutoPCH/602548117479915a/PLUGIN.ipch
src/.vs/test_plugin/v15/ipch/AutoPCH/9e331ccbb9ed3ab9/PLUGIN.ipch
src/.vs/VSWorkspaceState.json
src/x64/Debug/test_plugin.log
src/x64/Debug/test_plugin.tlog/CL.command.1.tlog
src/x64/Debug/test_plugin.tlog/test_plugin.write.1u.tlog
src/x64/Debug/test_plugin.tlog/test_plugin.lastbuildstate
src/x64/Debug/test_plugin.tlog/link.write.1.tlog
src/x64/Debug/test_plugin.tlog/link.read.1.tlog
src/x64/Debug/test_plugin.tlog/CL.write.1.tlog
src/x64/Debug/test_plugin.tlog/link.command.1.tlog
src/x64/Debug/test_plugin.tlog/CL.read.1.tlog
/src/.vs/test_plugin/v15/ipch/AutoPCH/a2296544bbc82f22/PLUGIN.ipch
/src/.vs/test_plugin/v15/Browse.VC.opendb
